@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Jost', sans-serif;
}

/*---------------
GLOBALS
-----------------*/

:root {
    --main-color: #9e22cf;
    --main-strong: #7b10a5;
    --main-light: #bd5be4;
}
.flexcenter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
section{
    min-height: 100vh;
    width: 100%;
}
.container{
    width: 80%;
    min-width:800px;
    margin: auto;
}
/* .backdrop{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index:100;
}
 */
/*---------------
LANDING
-----------------*/

#landing{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background: url("img/l1.webp") center/cover;
    position:relative;
    z-index: 0;
}
#landing.blur{
    -webkit-animation: set-blur 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: set-blur 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 9.7s;
}
 .l-img,
canvas{
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-2;
} 
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(233, 69, 4, 0.55), rgba(0, 9, 40, 0.6), rgba(6, 171, 177, 0.6));
    top:0;
    left:0;
}
.boat-logo{
    z-index: 3;
    height: 250px;
    -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.801) );
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.747));
    position: relative;
    margin-left:1.5rem;
} 
.para{
    width: 800px;
    margin-bottom: 1.5rem;
    color:#fff;
    font-size:1.2rem;
    text-align: center;
    z-index:1;
}
h1{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:3rem;
}
.order-button{
    background: rgb(57, 255, 231);
    padding: 1.4rem 3.5rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 100px 0 #010f1e;
    transition: background 350ms;
    z-index:1;
    border-radius: 50px;
}
.order-button:hover{
    background: #fff;
}
.social-links a img{
    height: 1.5rem;
    width: 1.5rem;
}
.social-links{
    margin-top:4rem;
    z-index:1;
}
.social-links a{
    margin:0 14px;
}

.play-button{
    border: 2px solid rgb(57, 255, 231);
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: rgb(57, 255, 231);
    fill: rgb(57, 255, 231);
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 1px;
    margin-top: 15px;
/*     display: flex;
    justify-content: center; */
}
.play-button svg{
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
    padding-top: 3px;
}
.close{
    position: absolute;
    height: 3rem;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.alert{
    background: #000;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left:0;
    padding: 2rem 1.5rem;
    width: 100%;
    color: rgb(57, 255, 231);
    text-align: center;
    -webkit-animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-bottom-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 10s;
}

.close-video-button{
    position:absolute;
    top:1.2rem;
    right:1.2rem;
    height: 1.5rem;
    width: 1.5rem;
    z-index:30;
    cursor: pointer;
}

.video-backdrop{
    background: #000;
    position: absolute;
    left: 0;
    top:0;
    min-height: 100vh;
    width: 100%;
    z-index:1;
}
.hide{
    display:none;
}

 @-webkit-keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-bottom-fwd {
    0% {
      -webkit-transform: rotateX(100deg);
              transform: rotateX(100deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }


  @-webkit-keyframes set-blur{
    0% {
      filter:blur(0);
    }
    100% {
        filter:blur(7px);
    
    }
  }
  @keyframes set-blur {
    0% {
        filter:blur(0);
 
    }
    100% {
        filter:blur(7px);
  
    }
  }

@media(max-width:650px){
    .para{
        width: 90%;
    }
  
}